
.App{
  width:100%;
  height: 80px;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row-reverse;
}

.register{
  text-decoration: none;
  text-align: right;
  margin: auto 0px;
  margin-right: 5%;
  font-size: 25px;
  font-family: sans-serif;
  color: white;
}

@media (max-width: 1280px) {
  .login {
     font-size: 30px; 
    }
    .register {
      font-size: 18px; 
     }
}

@media (max-width: 800px) {
 .login {
     font-size: 25px;
     }
 .register {
      font-size: 15px; 
     }
}