.buttoncerrarsesion {
    bottom: 20px;
    right: 23px;
    position: fixed;
    width: 70px;
    height: 70px;
    background: black;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    border: none;
    i{
        font-size: 43px;
    }
    
}
 