.productordenado form input{
        margin-top: 10px;
        width: 100px;
        padding: 5px;
        padding-left: 10px;
        border-radius: 20px;
        border: 1px solid;  
}
.productordenado form{
    text-align: center;
}
.productordenado form button{
    margin-top: 10px;
    width: 100px;
    padding: 5px;
    padding-left: 10px;
    border-radius: 20px;
    border: 1px solid;  
}
.productordenado{
    padding-right: 5px;
}
@media screen and (max-width:540px) {
    .productordenado form{
    margin-right: 0px;
    }
    .productordenado form span{
        font-size: 10px;
    }
    .productordenado form input{
            font-size: 8px;
            margin-top: 0px;
            width: 39px;
            padding: 5px;
            padding-left: 5px; 
            margin-right: 5px;
            border-radius: 20px;
            border: 1px solid;
    }
    .productordenado form button{
            margin-top: 3px;
            width: 51px;
            padding: 5px;
            margin-right: 5px;
            border-radius: 20px;
            border: 1px solid;
            font-size: 9px;
    }
       } 