.fondochat{
    width: 100%;
    height: 100vh;
    background:rgb(235, 235, 235);
    position: relative;
    z-index: 50;
}
.chatperfil{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 5vh;
    min-height: 43.5px;
    width: 100%;
    background: rgb(223, 206, 206);
}
.bx-user{
 font-size: 35px;
 margin: auto 0;
 margin-left: 10px;

}
.chaticon{
    font-size: 20px;
    margin: auto 10px;
    margin-left: 20px;
    margin-top: 15%;
}
.menuchat{
    font-size: 20px;
    margin: auto 10px;
    margin-right: 5%;
}
.iconoschatfondo{
    width: 100px;
}
.usuariochatperfil{
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.paletacomandochat{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 7%;
    min-height: 55px;
    width: 100%;
    background: rgb(237, 237, 237);
}
.correcionpaletachat{
    display: flex;
    flex-direction: row;
    margin: auto 0;
}
.perfilyultimo{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin: 10px;
}
.perfilyultimo span{
 font-size: 18px;
   
}
.perfilyultimo p{
    font-size: 13px;
   }
.horachat{
    font-size: 12px;
    margin: 10px;
}
.fotousuario{
    width: 40px;
    height: 40px;
    min-width: 40px;
    border-radius: 50%;
    background: rgb(235, 235, 235);
    margin-left:10px;
    margin-top: 10px;
}
.fotousuariouser{
    width: 40px;
    height: 40px;
    min-width: 40px;
    border-radius: 50%;
    background: white;
    position: relative;
    margin-left: 15px;
}
.hrdivchat{
    width: 80%;
    height: 1px;
    background: rgb(242, 242, 242);
    margin: 0 auto;
}

.paletachat{
    position: relative;
    height: 9%;
    width: 100%;
    background:rgb(235, 235, 235);
    display: flex;
    justify-content: space-around;
}
.decorationpaleta{
width: 85%;
margin: auto 0;
margin-left: 2%;
height: 60%;
padding:  0 10px ;
border-radius: 20px;
border:none;
}
.nombrechat{
    margin: auto 0;
    margin-left: 15px;
    font-size: 1rem;
}
.bxs-send, .bx-paperclip{
    cursor: pointer;
    margin: auto 0;
    font-size: 25px;
    margin-left: 5px;
    padding: 5px;
    color: rgb(81, 88, 92);
}

.chatuses{
    width: 100%;
    height: 84%;
}
.usuariosactivos{
   display: flex;
   flex-direction: column;
   width: 30vw;
   min-width: 180px;
   height: 100%;
   
}
.mensajesusuarios{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    min-width: 200px;
    background: white;
 }
.fondonegrochat{
    width: 100%;
    height: 200px;
    background:black;
    opacity: 0.9;
    position: absolute;
}
.cajachat{
    display: flex;
    flex-direction: row;
    width: 90%;
    max-width: 1280px;
    min-width: 650px;
    height: 80vh;
    background: white;
    position: relative;
    margin: 0 auto;
    top: 20px;
    min-height: 437px;
    box-shadow: 0px 0px 4px 4px rgba(80, 78, 78, 0.4);
}

@media screen and (max-width:650px){
    .cajachat{
        width: 100%;
        border: none;
        top: 0;
    }
    .bx-user{
        font-size: 20px;
       }
  }


  @media screen and (max-width:1100px){
    .perfilyultimo span{
        font-size: 14px;
          
       }
       .perfilyultimo p{
           font-size: 9px;
          }
  }
  