.chatperfil{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 5vh;
    min-height: 43.5px;
    width: 100%;
    background: rgb(223, 206, 206);
  
}

.imagenchatuser{
 width: 40px;
 height: 40px;
 margin: auto 0;
 margin-left: 10px;
 border-radius: 50%;
}
.chaticon{
    cursor: pointer;
    font-size: 20px;
    margin: auto 10px;
    margin-left: 20px;
    margin-top: 15%;
}
.menuchat{
    cursor: pointer;
    font-size: 20px;
    margin: auto 10px;
    margin-right: 5%;
}
.iconoschatfondo{
    width: 100px;
}
.usuariochatperfil{
    width: 100%;
}
.chatactivo{
    background: rgb(214, 212, 212);
}
.usuariochatperfil:hover{
  background: rgb(240, 237, 237);
  cursor: pointer;
}
.paletacomandochat{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 7%;
    min-height: 55px;
    width: 100%;
    background: rgb(237, 237, 237);
}
.correcionpaletachat{
    display: flex;
    flex-direction: row;
    margin: auto 0;
}
.perfilyultimo{
    display: flex;
    flex-direction: column;
    margin: 13px;
}
.perfilyultimo .namechatperfil{
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 18px;
   
}
.flexusuariochat{
    display: flex;
    flex-direction: row;
}
.perfilyultimo .userconect{
  color: rgb(0, 148, 25);
  font-size: 15px;
   }
.perfilyultimo .userdisconnect{
  color: red;
  font-size: 15px;
 }
.horachat{
    font-size: 12px;
    margin: 10px;
    margin-left: 0px;
}
.fotousuariouser{
    width: 40px;
    height: 40px;
    min-width: 40px;
    border-radius: 50%;
    background: white;
    position: relative;
    margin-left: 15px;
}
.fotousuariouser:hover{
cursor: pointer;
opacity: 0.7;
}
.hrdivchat{
    width: 80%;
    height: 1px;
    background: rgb(242, 242, 242);
    margin: 0 auto;
}

.paletachat{
    position: relative;
    height: 9%;
    width: 100%;
    background:rgb(235, 235, 235);
    display: flex;
    justify-content: space-around;
}
.decorationpaleta{
width: 85%;
margin: auto 0;
margin-left: 2%;
height: 60%;
padding:  0 10px ;
border-radius: 20px;
border:none;
}
.nombrechat{
    margin: auto 0;
    margin-left: 15px;
    font-size: 1rem;
}
.bxs-send, .bx-check{
    cursor: pointer;
    margin: auto 0;
    font-size: 25px;
    margin-left: 5px;
    padding: 5px;
    color: rgb(81, 88, 92);
}
.buttonexitopedido{
    padding: 0 6px;
    margin: auto 0;
    margin-left: 10px;
    border-radius: 11px;
    background: #90e190;
    border: solid 1px;
    cursor: pointer;
    height: 65%;
}
.buttoncancelarpedido{
    padding: 0 6px;
    margin: auto 0;
    margin-left: 10px;
    border-radius: 11px;
    background: #e25e5e;
    color: white;
    border: none;
    cursor: pointer;
    height: 65%;
}
.buttonenviopedido{
    padding: 0 6px;
    margin: auto 0;
    margin-left: 10px;
    border-radius: 11px;
    background: #008892;
    color: white;
    border: none;
    cursor: pointer;
    height: 65%;
}
.buttonexitopedido p{
    margin: auto;
}
.buttonexitopedido:hover{
    opacity: 0.7;
}
.bx-check{
    background-color: rgb(150, 233, 158);
    border-radius: 50%;
}
.chatuses{
    width: 100%;
    height: 86%;
    background-image: url("https://static.vecteezy.com/system/resources/previews/002/218/678/non_2x/blue-wallpaper-with-modern-smartphones-social-media-message-background-copy-space-for-a-text-vector.jpg");
    overflow-y: scroll;
}
.chatuses::-webkit-scrollbar{
    width: 4px;
   }
   .chatuses::-webkit-scrollbar-thumb{
       background:rgb(138, 224, 250);
       border-radius: 5px;
      }
.usuariosactivos{
   display: flex;
   flex-direction: column;
   width: 30vw;
   min-width: 180px;
   height: 100%;
   overflow-y: scroll;
}
.usuariosactivos::-webkit-scrollbar{
 width: 4px;
}
.usuariosactivos::-webkit-scrollbar-thumb{
    background:rgb(81, 88, 92);
    border-radius: 5px;
   }
   
   .bordesolicitudcompleta{
    height: 100%;
    width: 100%;
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
   }
.mensajesusuarios{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    min-width: 200px;
    background: white;
 }
 .mensajesvacio{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    min-width: 200px;
    background: grey;
 }
.fondonegrochat{
    width: 100%;
    height: 200px;
    background:black;
    opacity: 0.9;
    position: absolute;
}
.cajachat{
    display: flex;
    flex-direction: row;
    width: 90%;
    max-width: 1280px;
    min-width: 650px;
    height: 80vh;
    background: white;
    position: relative;
    margin: 0 auto;
    top: 20px;
    min-height: 437px;
    box-shadow: 0px 0px 4px 4px rgba(80, 78, 78, 0.4);
}


.flecha-izquierda{
    display: inline-block;
    margin-right: -6px;
    margin-top: 10px;
    width: 0; 
    height: 0; 
    border-top: 0px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid white;
}
.mensaje-autor{
    margin-top: 40px;
    margin-left: 25px;
}

.mensaje-autor .contenido{
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.3);
    display: inline-block;
    font-size: 13px;
    padding: 15px;
    vertical-align: top;
    width: 280px;
}
.mensaje-autor .fecha{
    color: black;
    font-style: italic;
    font-size: 13px;
    margin-right: 35px;
    margin-top: 10px;
    margin-bottom: 15px;
}
.mensaje-autor .flecha-izquierda{
    display: inline-block;
    margin-right: -6px;
    margin-top: 10px;
    width: 0; 
    height: 0; 
    border-top: 0px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid white;
}
.mensaje-amigo{
    margin-top: 40px;
    text-align: end;
    margin-right: 25px;
}

.mensaje-amigo .flecha-derecha{
    display: inline-block;
    margin-left: -6px;
    margin-top: 10px;
    width: 0; 
    height: 0; 
    border-top: 0px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #3990BF;
}
.mensaje-autor .foto{
    border-radius: 5px;
}
.mensaje-amigo .fecha{
    color: black;
    font-style: italic;
    font-size: 13px;
    text-align: right;
    margin-top: 10px;
    margin-bottom: 15px;
}
.mensaje-amigo .foto{
    display: inline-block;
    vertical-align: top;
}
.foto{
    width: 45px;
    height: 45px;
}
.mensaje-amigo .contenido{
    background-color: #3990BF;
    border-radius: 5px;
    color: white;
    display: inline-block;
    font-size: 13px;
    padding: 15px;
    vertical-align: top;
    width: 280px;
}
.botonsend{
    border: none;
}
.nohaychat{
    margin: auto;
    color: white;
}
@media screen and (max-width:650px){
    .cajachat{
        width: 100%;
        border: none;
        top: 0;
    }
    .bx-user{
        font-size: 20px;
       }
  }


  @media screen and (max-width:860px){
    .perfilyultimo .namechatperfil{
        font-size: 12px;
          
       }
       .perfilyultimo .userdisconnect,.userconect{
           font-size: 10px;
          }
          .imagenchatuser{
            width: 25px;
            height: 25px;
        }
        .usuariochatperfil{
            height: 54px;
            width: 100%;
        
        }
  }
  