.fondochat{
    width: 100%;
    height: 100vh;
    background:rgb(235, 235, 235);
    position: relative;
    z-index: 50;
}
.chatperfil{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 7vh;
    width: 100%;
    background: rgb(223, 206, 206);
}
.bx-user{
 font-size: 35px;
 margin: auto 0;
 margin-left: 10px;

}
.chaticon{
    font-size: 20px;
    margin-top: 30%;
}
.menuchat{
    font-size: 20px;
    margin-left: 10px;
}
.usuariochatperfil{
    height: 60px;
    width: 100%;
    background:rgb(235, 235, 235);
    display: flex;
    justify-content: space-between;
}
.paletacomandochat{
    height: 8%;
    width: 100%;
    background: violet;
}
.perfilyultimo{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin: 10px;
}
.perfilyultimo span{
 font-size: 18px;
   
}
.perfilyultimo p{
    font-size: 13px;
   }
.horachat{
    font-size: 12px;
    margin: 10px;
}
.fotousuario{
    width: 40px;
    height: 40px;
    min-width: 40px;
    border-radius: 50%;
    background: white;
    margin-left:10px;
    margin-top: 10px;
}

.paletachat{
    position: relative;
    height: 9%;
    width: 100%;
    background: khaki;
    display: flex;
    justify-content: space-around;
}
.decorationpaleta{
width: 85%;
margin: auto 0;
margin-left: 2%;
height: 60%;
padding:  0 10px ;
border-radius: 20px;
border: solid black 1px;
}

.bxs-send, .bx-paperclip{
    cursor: pointer;
    margin: auto 0;
    font-size: 25px;
    margin-left: 5px;
    padding: 5px;
}
.bx-paperclip:hover{
    background: black;
    color: white;
    padding: 5px;
    border-radius: 50%;
 }
.bxs-send:hover{
   background: black;
   color: white;
   padding: 5px;
   border-radius: 50%;
}
.chatuses{
    background: lightsalmon;
    width: 100%;
    height: 83%;
}
.usuariosactivos{
   display: flex;
   flex-direction: column;
   width: 30vw;
   min-width: 180px;
   height: 100%;
   background:rgb(235, 235, 235);
}
.mensajesusuarios{
    width: 100%;
    height: 100%;
    min-width: 200px;
    background: white;
 }
.fondonegrochat{
    width: 100%;
    height: 200px;
    background:black;
    opacity: 0.9;
    position: absolute;
}
.cajachat{
    display: flex;
    flex-direction: row;
    width: 90%;
    max-width: 1280px;
    min-width: 650px;
    height: 80vh;
    background: white;
    position: relative;
    margin: 0 auto;
    top: 20px;
    box-shadow: 0px 0px 4px 4px rgba(80, 78, 78, 0.4);
}

@media screen and (max-width:650px){
    .cajachat{
        width: 100%;
        border: none;
        top: 0;
    }
    .bx-user{
        font-size: 20px;
       }
  }


  @media screen and (max-width:1100px){
    .perfilyultimo span{
        font-size: 14px;
          
       }
       .perfilyultimo p{
           font-size: 9px;
          }
  }
  