.cajacompra{
    width: 75%;
    margin: 0 auto;
    display: grid;
    margin-top: 20px;
    grid-template-columns: 1fr 1fr;
    @media screen and (max-width:700px){
        width: 94%;
    }
}


.cajacompra form{
    display: flex;
    flex-direction: column;
}
.cajacompra h3{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 20px;
    @media screen and (max-width:700px){
        margin-top: 0px;

    }

}
.cajacompra .fleximg{
    margin-right: 20px;
}
.cajacompra form label{
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 5px;
}
.cajacompra fieldset{
    .flexcolumn{
        display: flex;
        flex-direction: column;
        margin: 0 10px;
        width: 50%;
    }
    margin-left: 20px;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid black;
    .buttoncomprar{
        padding: 10px;
        margin: 10px;
        width: 40%;
        background-color: #3c3b3b;
        border: none;
        cursor: pointer;
        border-radius: 10px;
        color: white;
        &:hover{
            opacity: 0.7;
        }
    }
    legend{
        border: #3c3b3b solid 1px;
        border-radius: 20px;
        background-color: #3c3b3b;
        color: white;
        padding: 5px;
    }
}

.cajacompra form  .recordatoriodireccio{
    font-size: 12px;
    font-weight: 400;
}

.cajacompra form .inputds, .selected{
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    
}
.checkcompra{
    width: 10px;
}

@media screen and (max-width:1200px){
    .cajacompra{
        display: flex;
        flex-direction: column;
    }
    }
