.estructuraconfig{
    display: flex;
    flex-direction: column;
    width: 100%;
    background: rgb(36, 37, 38);
    height: 100%;
    text-align: center;
    justify-content: space-between;
    .imageavatar{
     width: 200px;
     height: 200px;
     margin: 40px auto;
     img{
      border-radius: 50%;
       width: 100%;
       height: 100%;
       &:hover{
         cursor: pointer;
         opacity: 0.5 ;
       }
     }
    }
    h1{
      color: whitesmoke;
      letter-spacing: 2px;
      margin-bottom: 30px;
    }
    .containerinfousuario{
      box-sizing: border-box;
      background: rgb(26, 24, 24);
      width: 100%;
      max-width: 1080px;
      margin: 0 auto;
      border-radius: 20px;
      margin-bottom: 40px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding: 0px 20px 20px 20px;
      justify-content: space-around;
      .detallesusuario{
        min-width: 240px;
        margin-top: 20px;
        border-radius: 10px;
        width: 40%;
        height: 500px;
        background: rgb(36, 37, 38);    
        @media screen and (max-width:540px) {
          width: 100%;
        } 
        h2{
          height: 17%;
          margin: 0px auto;
          text-align: center;
          color: white;
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
        ul{
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          margin: 0 20px;
          height: 83%;
          list-style: none;
          li{              
            color: rgb(223, 217, 217);
            text-align: start;
            b{ 
              color: white;
              letter-spacing: 1px;
              font-size: 15px;
            }

          }
        }
      }
    }
}
