.rowbotonperfil{
.botonguardarperfil{
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 18px;
  background: rgb(26, 24, 24);
  color: whitesmoke;
  margin-bottom: 20px;
  margin-left: 10px;
  &:hover{
    cursor: pointer;
    background: whitesmoke;
    color: rgb(26, 24, 24);;
  }
}
}
.estructuraconfig{
  position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    background: rgb(36, 37, 38);
    height: 100%;
    text-align: center;
    justify-content: space-between;
  .buttondineropagar{
    position: absolute;
    right: 20px;
    top: 20px;
    width: 120px;
    padding: 11px 20px;
    border: none;
    border-radius: 20px;
    font-size: 18px;
    cursor: pointer;
    &:hover{
      opacity: 0.9;
    }
  }

    .imageavatar{
      display: flex;
      flex-direction: column;
     width: 200px;
    
     margin: 40px auto;
     img{
      border-radius: 50%;
       width: 100%;
       height: 200px;
       &:hover{
         cursor: pointer;
         opacity: 0.5 ;
       }
     }
    }
    #fileperfil{
      display: none;
    }
    h1{
      color: whitesmoke;
      letter-spacing: 2px;
      margin-bottom: 30px;
    }
    .containerinfousuario{
      #filedes{
        display: none;
      }
      position: relative;
      box-sizing: border-box;
      background: rgb(26, 24, 24);
      width: 100%;
      max-width: 1080px;
      margin: 0 auto;
      border-radius: 20px;
      margin-bottom: 40px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding: 0px 20px 20px 20px;
      justify-content: space-around;
      .buttonr{
        border-radius: 5px;
        border: none;
        position: absolute;
        right: 15px;
        top: 16px;
        font-size: 30px;
        padding: 0 4px;
        &:hover{
        background: rgb(90, 89, 89);
        color: white;
        cursor: pointer;
        }
       
      }
      .buttonfoto{
        top:60px
      }
      .buttontop{
        top:105px
      }
      .detallesusuario{
        min-width: 240px;
        margin-top: 20px;
        border-radius: 10px;
        width: 40%;
        height: 500px;
        background: rgb(36, 37, 38);    
        @media screen and (max-width:540px) {
          width: 100%;
        } 
        h2{
          height: 17%;
          margin: 0px auto;
          text-align: center;
          color: white;
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
        ul{
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          margin: 0 20px;
          height: 83%;
          list-style: none;
          li{              
            color: rgb(223, 217, 217);
            text-align: start;
            a{
            color: white;
            }
            b{ 
              color: white;
              letter-spacing: 1px;
              font-size: 15px;
            }
           input{
             padding-left: 5px;
             border-radius: 5px;
             margin-left: 6px;
             border: none;
           }
          }
        }
      }
      .fotoslocales{
        margin: 20px 0;
        width: 100%;
        height: 100%;
        h2{
          color: white;
        }
        img{
          min-width: 150px;
        margin: 20px;
        max-width: 40%;
        max-height: 600px;
        @media screen and (max-width:540px) {
          min-width: 90%;
          margin: 20px auto;   
             } 
         &:hover{
           cursor: pointer;
           opacity: 0.5;
         }    
        }
      }
 
    }
}
