.estructuraconfig{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;}
.herramientasconfig{
    margin:30px;
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
}
.herramientasconfig h3{
    font-size: 30px;

}
.herramientasconfig ul li p{
    font-size: 20px;
    margin-top: 50px;
    font-weight: 600;
    margin-left: 20px;
}
.resultadoconfig{
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
}