.form-agregar-producto{
    width: 100vw;
    height: 100%;
    background: rgb(235, 235, 235);
    margin: 0 auto;
    position: absolute;
    div{
        position: relative;
        margin: 50px auto;
        border-radius: 20px;
        padding: 20px;
        max-width: 1280px;
        background-color: white;
        .bxs-folder-plus{
            position: absolute;
            right: 10px;
            font-size: 40px;
            top: 5px;
            &:hover{
                cursor: pointer;
            }
        }
        table {
            width: 100%;
            table-layout: fixed;
            border-collapse: collapse;
            caption{
            font-size: 25px;
            font-weight: bold;
           
        }
            td {
                .botonproductoagregar{
                    color: rgba(14, 1, 1, 0.692);
                    padding: 5px;
                    font-weight: bold;
                    border-radius: 10px;
                    border: 1px solid gray;
                    margin: 10px;
                    &:hover{
                        cursor: pointer;
                    }
                }
                .delete{
                    background-color: rgb(255, 159, 159);
                }
                .add{
                    background-color: rgb(159, 255, 188);
                }
                ul{
                list-style: none;
                text-align: start;
                li{
                    b{
                        font-size: 15px;
                    }
                }
            }}
          }
          
          thead th:nth-child(1) {
            width: 30%;
          }
          
          thead th:nth-child(2) {
            width: 20%;
          }
          
          thead th:nth-child(3) {
            width: 15%;
          }
          
          thead th:nth-child(4) {
            width: 25%;
          }
          thead th:nth-child(5) {
            width: 10%;
          }
          
          th, td {
            text-align: center;
            padding: 20px;
          }
          th img{
             height: 160px;
          }
    }

}