.formfilter{
  height: 50vh;
 font-family:  sans-serif;
 text-align: left;
 margin: 0 auto ;
 margin-top:  4rem;
 display: flex;
 flex-direction: column;
}
.inputf{
  padding: 4px;
  max-width: 50px;
  margin: 0 auto;
}
.colorf{
  color: rgb(51, 51, 51);
}

.flexche{
  display: flex;
  
}
.checkbox{
  margin: auto 10px;
 

}

.tamaño{
text-align: center;
font-size: 2rem;
margin-bottom: 1rem;
}
.hdeproduc{
margin: 10px 0;
}
.select{
margin: 5px;
margin-left: 10px;
}
@media screen and (max-width:540px){

	.formfilter{
  flex-direction: row;
    height: 100%;
   font-family:  sans-serif;
   text-align: left;
   margin: 0 auto ;
   margin-top:  0;
  flex-wrap: wrap;
  }
  .colorf{
    margin:  auto 20px;
      }
  .tamaño{
   width: 100%;
    }
    .checkbox{
      margin: auto 35px auto 5px;
    }
    .mr-5{
      margin-left: 20px;
    }
  }
  
  