.filtercelular{
  display: flex;
  width: 100%;
  height: 40px;

  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin:0 auto ;
}
.flexbotonfil{
  display: flex;
  flex-direction: row;
  width: 49%;
  justify-content: center;
  cursor: pointer;
}
.iconfilter{
 margin: auto 0;
  margin-right: 5px;
  
}
.filtercelular .flexbotonfil p{
  margin: auto 0;
}

.formfilter{
  height: 50vh;
 font-family:  sans-serif;
 text-align: left;
 margin: 0 auto ;
 margin-top:  4rem;
 display: flex;
 flex-direction: column;
}
.divfilterflex{
  display: flex;
  flex-direction: row;
}
.divfilterflex hr{
 margin-top: 40px;
 height: 70vh;
  
}
.inputf{
  padding: 4px;
  max-width: 50px;
  margin: 0 auto;
}
.colorf{
  color: rgb(51, 51, 51);
}

.flexche{
  display: flex;
  
}
.checkbox{
  margin: auto 10px;
 

}
.filtercelular hr{
  margin: auto 0;
  height: 40%;
}
hr{
  margin: 0;
}
.tamaño{
text-align: center;
font-size: 2rem;
margin-bottom: 1rem;
}
.hdeproduc{
margin: 10px 0;
}
.select{
margin: 5px;
margin-left: 10px;
}
@media screen and (max-width:540px){
  .divfilterflex hr{
    height: 1px;
     
   }
	.formfilter{
  flex-direction: row;
    height: 100%;
   font-family:  sans-serif;
   text-align: left;
   margin: 0 auto ;
   margin-top:  0;
  flex-wrap: wrap;
  }
  .colorf{
    margin:  auto 20px;
      }
  .tamaño{
   width: 100%;
    }
    .checkbox{
      margin: auto 35px auto 5px;
    }
    .mr-5{
      margin-left: 20px;
    }
  }
  
  