@mixin centerize {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoimage{
  background:  url("./images/LB-Shop1.png");
  color: white;
  width: 200px;
  height: 100%;

}

$navsize: 50px;
$color: #9466ff;
$mg: 40px;



.wraper {
  list-style: none;
  @include centerize;
  flex-direction: row;
  list-style: none;

  li {
    a {
      height: $navsize;
      margin: 0 16px;
      @include centerize;
      text-decoration: none;
      color: #707184;
      text-transform: capitalize;
      position: relative;
      &:hover {
        color: #ececec;

        &::after {
          content: "";
          position: absolute;
          width: 100%;
          bottom: 0;
          border: 1px solid $color;
        }
      }
    }
  }
}

.active {
  color: #f3f3f3 !important;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    bottom: 0;
    border: 1px solid $color;
  }
}


.menu{
  background-color: rgb(18, 18, 20);
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo{
  color: white;
  font-size: 22px;
  padding-left: 80px;
  font-weight: bold;
  cursor: pointer;
}
.logo a{
  text-decoration: none;
  color: white;
}
.flexinicio a{
  text-decoration: none;
  margin-top: 6px;
  margin-left: 6px;
  color: rgb(67, 67, 235);
  @media screen and (max-width:600px){
    font-size: 10px;
      }
}
.btnmenu{
  margin-right: 30px;
  font-size: 25px;
  color: white;
  cursor: pointer;
  display: none;
  background: black;
}
ul.show{
top: 65px;
}

.formbusqueda{
  margin-left: 20px;
background: white;
height: 31px;
width: 40%;
position: relative;
min-width: 100px;
margin-right: 10px;
} 
.formbus{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  }
.inputbusqueda{
outline: none;
border: none;
padding: 5px;
padding-right: 50px;
width: 80%;

}
.botonbusqueda{
  height: 25px;
  background: white ;
  border: none;
  font-size: 25px;
  margin-top: 5px;
}
@media screen and (max-width:1280px){

  .items li a{
    font-size: 12px;
   }
  
   
}
@media screen and (max-width:1024px){
  
  .logo{
    font-size: 22px;
    padding-left: 35px;
  }
  .items li a{
    
    font-size: 13px;

   }

}
@media screen and (max-width:858px){

  .menu{
    height: 65px;
  }
  .btnmenu{
  display:inline-block ;
  margin-right: 15px;
  font-size: 30px;
  text-decoration: none;
  }
  .items{
    position: fixed;
    z-index: 2;
    width: 100vw;
    height: calc(100vh - 65px);
    background: rgb(45, 49, 58);
    top: -100vh;
    text-align: center;
    transition: all 500ms;
    flex-direction: column;
  }
  .items li{
    margin: 30px 0 0 0;
    line-height: 30px;
  }
  .items li:hover{
   background: none;
  }
  .items li a{
    font-size: 20px;
    color: rgb(174, 175, 181);
    font-weight: bold;
    transition: all 1000ms;
   }
   .items li a:hover{
    color: white;
    background: rgb(24, 30, 43);
    padding: 20px;
    transition: all 1000ms;
   
   }

   .logo{
     font-size: 18px;
     padding-left: 35px;
   }

}

@media screen and (max-width:858px) and (orientation: landscape){

.items li{
  margin: 5px 0 0 0;
}
.items{
  overflow: scroll;
  height: calc(100%-65px);
}

}
@media screen and (max-width:414px) and (orientation: landscape){

  .items li{
    margin: 5px 0 0 0;
  }
  .items{
    overflow: scroll;
    height: calc(100%-65px);
  }
  
  }



