
.formi{
    box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.2);
    margin: auto;
    margin-top: 10%;
    margin-top: 100px;
    min-width: 200px;
    max-width: 500px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    background: white;
}

.i{
    color: black;
    font-size: 40px;
    font-family: sans-serif;
    padding-bottom: 60px;
    text-align: center;
}
.ajus{
    margin-top: 20px;
    font-size: 22px;
    font-family: sans-serif;

}


.inputl{
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid black;
    font-size: 18px;
    font-family: 'calibri';
}

.am{
    margin-top: 20px;
    padding: 15px;
    width: 108px;
    font-size: 20px;
    font-family: sans-serif;
    text-decoration: none;
    color: black;
    text-align: left;
    box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.2);
    border-radius: 20px
}
.am:hover{
    background: black;
    color: white;
    box-shadow: white
}
button{
    background: black;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 18px;
}