.pagineCard{
	display: grid;
	grid-template-columns: 1fr repeat(3,1fr);
}
.card-body{
	margin-top: 10px;
}
.price{
	
	font-size: 1.7rem;
	font-weight: 500;
}
.disp{
	color: rgb(4, 116, 13);
	font-size: 0.8rem;
	font-weight: 600;
}
.Cardcompleta { 
	width: 80%;
	background: white;
	margin:2rem;
	grid-column: 2/5;
	font-family: sans-serif;
  }
  hr{
	  margin-bottom: 8px;
  }
  .flex {
 
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	
  }
  
  .card {
	  margin-top: 10px;
	display: flex;
	flex-direction: row;
	background: white;
	width: 100%;
	height: auto;
    margin-bottom: 10px;
  }
  .card-img {
	width: 150px;
	height: 100%;
  }
  .card-img img {
	cursor: pointer;
	  height: 150px;
	  width: 120px;
	  margin: 0 10px;
  }
  .left {
	text-align: left;
	padding-left: 1rem;
  }
  .bold {
	cursor: pointer;
	font-size: 1.2rem;
	font-weight: 100;
  }

.margin-bottom{
    height: 40px;
	background:rgb(235, 235, 235);
}
@media screen and (max-width:650px){
	.margin-bottom{
		font-size: 1.4rem;
	}
	.bold {
		font-size: 0.8rem;
	
	  }
	  .price{
		font-size: 1.2rem;

	}
	.disp{
		font-size: 0.8rem;
	}
}

@media screen and (max-width:540px){

	.pagineCard{
		display: flex;
		flex-direction: column;
	}
	.margin-bottom{
		font-size: 1rem;
		height: 5px;
		background:white;
	}
	.Cardcompleta { 
		padding: 2rem;
        width: 100%;
		margin:0;
		margin-top: 10px;
	    padding: 0;
	  }
	  .margin-bottom{
		margin-bottom: 0.5rem;
	}
	.bold {
		font-size: 1rem;
		font-weight: 100;
	  }
	  .price{
		font-size: 1.5rem;
		font-weight: 500;
	}
	.disp{
		color: rgb(4, 116, 13);
		font-size: 1rem;
	}
	.card-img img {
		height: 120px;
		width: 90px;
		margin: 0 10px;
	}
	.card-img {
		width: 90px;
		height: 100%;
	  }
  }
  @media screen and (max-width:320px){

	.bold {
		font-size: 0.5rem;
		font-weight: 100;
	  }
	  .price{
		font-size: 1rem;
		font-weight: 500;
	}
	.disp{
		color: rgb(4, 116, 13);
		font-size: 0.5rem;
	}
	.card-img img {
		height: 75px;
		width: 60px;
		margin: 0 10px;
	}
	.card-img {
		width: 75px;
		height: 100%;
	  }
  }
  
  