
.correcionfooter{
display: flex;
flex-direction: column;
justify-content: space-between;
}
.productordenadoss{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 150px;
    padding: 20px;
    margin-bottom: 10px;
    box-sizing: border-box;
    }
.menuchat{
    cursor: pointer;
    font-size: 20px;
    margin: auto 10px;
    margin-right: 5%;
}

.paletacomandoproductos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 7%;
    min-height: 55px;
    width: 100%;
    background: rgb(237, 237, 237);
}
.correcionpaletachat{
    display: flex;
    flex-direction: row;
    margin: auto 0;
}
.fotousuariouser{
    width: 40px;
    height: 40px;
    min-width: 40px;
    border-radius: 50%;
    background: white;
    position: relative;
    margin-left: 15px;
}

.paletachat{
    position: relative;
   
    height: 7%;
    width: 100%;
    background:rgb(235, 235, 235);
    display: flex;
    justify-content: space-around;
}
.decorationpaleta{
width: 85%;
margin: auto 0;
margin-left: 2%;
height: 60%;
padding:  0 10px ;
border-radius: 20px;
border:none;
}
.solicitante{
    margin: auto 0;
    margin-left: 25px;
    font-size: 1.4rem;
    font-weight: 600;
}
.bxs-send, .bx-paperclip{
    cursor: pointer;
    margin: auto 0;
    font-size: 25px;
    margin-left: 5px;
    padding: 5px;
    color: rgb(81, 88, 92);
}

.ordenarproductossolicitud{
    width: 100%;
    height: 87%;
    overflow-y: scroll;
    background: white;
    overflow-x: hidden;
}
.ordenarproductossolicitud .ceroordenar{
 width: 100%;
 height: 100%;}
.ordenarproductossolicitud .ceroordenar h2{
   text-align: center; 
   padding-top: 25%;   
}
   
.ordenarproductossolicitud::-webkit-scrollbar{
    width: 4px;
   }
   .ordenarproductossolicitud::-webkit-scrollbar-thumb{
       background:rgb(138, 224, 250);
       border-radius: 5px;
      }
   #fileordenar{
       display: none;
   }

.cajaordenar{
    display: flex;
    flex-direction: row;
    width: 70%;
    background: white;
 
}
.agregardenar{
    min-height: 550px;
    margin: 20px auto ;
    width: 85%;
    height: 85vh;
    display: flex;
    flex-direction: row;
    box-shadow: 0px 0px 4px 4px rgba(80, 78, 78, 0.4);
}
.formordenar{
    background:rgb(36, 37, 38);
    width: 30%;
    box-shadow: 0px 0px 4px 4px rgba(80, 78, 78 , 0.4);
}
.formingresarproucto{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.formingresarproucto label span{
    width: 117px;
    color: white;
    margin-top: 15px;
    margin-left:15px;
    font-size: 20px;
}
.formordenar h3{
    color: white;
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.wrap{
flex-wrap: wrap;
justify-content: center;
}
.formingresarproucto label input,.textareaordenar,.butonfile{
    max-width: 200px;
    padding: 5px;
width: 45%;
margin-left: 15px;
margin-top: 15px;
max-height: 100px;
}
 .butonsolicitar{
    background: black;
    opacity: 0.6;
    color: white;
    font-size: 20px;
      padding: 10px;
      width: 70%;
      margin: 0 auto;
      margin-top: 15px;
      max-width: 270px;
  }
  .butonsolicitar:hover{
      background: black;
      opacity: 1;
  }
  @media screen and (max-width:1000px){
    .agregardenar{
        margin:  0;
        width: 100vw;
        height: 100vh;
    }
}
@media screen and (max-width:834px){
    .formordenar {
        margin: 0 auto;
        width: 100%;
        padding-bottom: 30px;
    }
    .mensajesusuarios {
        width: 100%;
        height: 100%;
        flex-direction: column;
    }
    .cajaordenar {
        width: 100%;
        min-height: 390px;
    }
    .agregardenar {
        flex-direction: column;
    }
    .flexrow{
        justify-content: center;
    }   
       .formingresarproucto label span{
        margin-top: 15px;
        margin-right:25px;
        font-size: 20px;
    }
    
.formingresarproucto label input,textarea,.butonfile{
    min-width: 180px;
 
    max-width: 200px;
    margin-left: 0;
    margin-top: 15px;
}
.solicitante{
    font-size: 1rem;
}

.formordenar h3{
    font-size: 20px;
}
}
 @media screen and (max-width:600px){
    .productordenadoss{
    padding: 0;
    padding-top: 20px;
    margin-bottom: 10px;
    height: auto;
    }
    .agregardenar{
        margin:  0;
        margin-bottom: 23px;
        width: 100vw;
        height: 122vh;
    }
}
 @media screen and (max-width:280px){
    .ordenarproductossolicitud{
        max-height: 312px;
       }
       .agregardenar{
        height: 148vh;
    }
}