
.gridproducto{
    max-width: 1200px;
    display: grid;
    grid-template-columns:2fr 1fr 0f;
    background: white;
    padding: 20px 100px;
    margin: 0 auto;
}



.fleximg{
  width: 100%;

}
.fleximg .fotoproducto{
  width: 100%;
  margin-top: 20px;
  max-width: 95%;
}
.morefotos{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 10%;
  margin-right: 10%;
}
.listmorefotos{
  max-width:10%;
  min-width: 9%;
  max-height:50px;
  min-height: 10px;
  margin: 5px;
  margin-bottom: 0px;
  border: solid grey 2px;
  margin-top: 10px;
}

.infocom{
  padding: 20px;
  grid-column: 3/4;
  grid-row: 1/3;
  background: white;
  width: 90%;
  height: 500px;
  border: solid rgba(0, 0, 0, 0.2) 1px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.infopro{
  grid-column: 2/3;
  grid-row: 1/3;
  background: white;
  width: 90%;
  height: 100%;
}
.infopro h3{
  font-family:sans-serif ;
  font-size: 2.2rem;
  font-weight: 400
}
.infopro h4{
  font-weight: 200;
  font-size: 1.5rem;
  margin-top: 1rem;
  font-family:sans-serif ;
 
}
.infopro p{
  font-family:sans-serif ;
  font-size: 0.8rem;
}
.flexcara{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.flexcara p{
 margin-right: 10%;
 margin-top: 20px;
}
.flexcara strong{
  font-weight: 700;
  font-size: 1rem;
  margin-right: 5px;
 }
 .infopro li{
   margin-top: 10px;
  font-family:sans-serif ;
  font-size: 1rem;
}
.infocom h4{
  font-family:sans-serif ;
font-size: 2rem;
}
.infocom p{
  font-family:sans-serif ;
  margin-top: 10px;
  font-size: 1rem;
  }
.infocom .disponiblecolor{
  margin-top: 30px;
  font-size: 1.4rem;
    color: green;
    }
.infocom .cantidad{
  margin-top: 10px;
  padding: 5px;
  width: 60px;
  border-radius: 10px;
}
.infocom .botoncompra{
  width: 80%;
  margin: 0 auto;
  margin-top: 30px;
  font-size: 1.2rem;
  border-radius: 15px;
  padding: 5px;
  border: none;
}

.infocom .amarillo{
 background: rgb(243, 220, 72);
}
.infocom .naranja{
  background: rgb(238, 136, 76);
 }

 .infocom .listamia{
 font-weight: 600;
 width: 100%;
 margin-top: 40px;
 font-size: 1rem;
 border-radius: 5px;
 padding: 10px;
 border: solid black 1px;
 }



@media screen and (max-width:900px){

  .infopro{
    margin: 20px auto;
  }
  .gridproducto{
    padding: 0;
 display: flex;
 flex-direction: column;
height: 100%;
grid-template-columns: 1fr;
    grid-template-rows:1fr;
}
.infocom{
margin: 0px auto;
width: 60%;
}

.fleximg .fotoproducto{
  width: 100%;
  height: 80%;
  margin-top: 20px;
  max-width: 80%;
  margin-left: 10%;
}

}

@media screen and (max-width:380px){
.infopro ul{
  list-style:none;
}
}


